<!DOCTYPE html> {% load staticfiles %}
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{% static 'fancybox/jquery.fancybox.css' %}"></script>
  <script src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <div id="container">
    <div id="wrap">
      {% block nav %} 
      {% include "blog_nav.html" %} 
      {% endblock %} 

      {% block content %}
      {% endblock %} 

      {% block footer %}
      {% endblock %}

      {% block scripts %}
      {% endblock %}
    </div>
    <nav id="mobile-nav">

      <a href="{% url 'blog_index' %}" class="mobile-nav-link">主页</a>
    </nav>
  </div>
</body>

</html>