{% extends 'base.html' %} 
{% load staticfiles %} 

{% block title %} 斯人也 {% endblock title %} 

{% block main %}

<div>
    <h1>关于我(About me)</h1>

    <div class="codehilite">

    <pre>
    <span></span>
    <span class="sr">class</span> <span class="nf">AboutMe</span><span class="p">(</span><span class="sr">CS_Student</span><span class="p">):</span>
        <span class="s">"""This is a amazing class!"""</span>
        
        <span class="n">realname = </span><span class="s">"Guanzhou Ke"</span>
        <span class="n">degree = </span><span class="s">"Postgraduate"</span>
        <span class="n">email    = </span><span class="s">"geekhades1@gmail.com"</span>
        <span class="n">github   = </span><span class="s">"https://github.com/geekhades1"</span>
        <span class="n">location = </span><span class="s">"Guangdong province of China"</span>

        <span class="sr">def</span> <span class="nf">__init__</span><span class="p">(</span><span class="n">self</span><span class="p">):</span>
            <span class="s">"""Just a normal initiation"""</span>
            <span class="sr">pass</span>
        
        <span class="sr">def</span> <span class="nf">skills</span><span class="p">(</span><span class="n">self</span><span class="p">):</span>
            <span class="s">"""My skills"""</span>
            <span class="sr">return</span> <span class="s">["Data Mining & Analysis", "Machine Learning"]</span> 
        
    </pre>
    </div>

</div>

<br><br><br>

<div>
    <h1>如何联系我(Contact me)</h3>

        <p>微信(WeChat): 扫描下方二维码(Scan the QR code below)</p>
        <img src="{% static 'blog/img/qrcode.png' %}" height="200" width="200" />

        <br/>
        <strong>
            <a href="Mailto:geekhades1@gmail.com"> 或者点击发 邮件 给我 </a>
            (<a href="Mailto:geekhades1@gmail.com"> Or send e-mail to me</a>)
        </strong>
</div>

<br><br><br>
{% endblock main %}