
{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category">
                    <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                <span ><a href="{{ post.get_absolute_url }}">➟大约在 {{ post.read_time_text }}前有访客阅读过</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body|safe }}
            <div class="widget-tag-cloud">
                <ul>
                    Tags：
                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:tag' tag.pk %}"># {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>

</br></br>
    <strong style="font-size: 20px">
        * 如果你对文章有任何意见或建议请发<a href="Mailto:geekhades1@gmail.com" style="color: blue"> 邮件 </a> 给我!
    </strong></br>
    <strong style="font-size: 20px">
        * if you have any suggestion that you could send a<a href="Mailto:geekhades1@gmail.com" style="color: blue"> E-mail </a> to me, Please!
    </strong>

{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ post.toc|safe }}
    </div>
{% endblock toc %}